{% extends "baza.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'dokumenty\styles.css' %}">
<div class="service_dokument">
<p align="center">RAPORT PRACY SERWISU</p>
<p align="center"><strong>RZM / {{ servicereport.number_id }} / {{ servicereport.which_stuff.all|join:", "  }} / {{ servicereport.date_notice }} </p></strong>

<p align="center">Data: {{ servicereport.date_notice }}  Zmiana: {{ servicereport.which_shift.all|join:", " }}</p>
<div class="report_details">

<table class="service_report">
	<tr>
	<td id="part1"> RZM / {{ servicereport.number_id }} / {{ servicereport.which_stuff.all|join:", "  }} / {{ servicereport.date_notice }}</td> <td id="part1"> Utworzył: {{ servicereport.who_fixed.all|join:", "  }}</td>
	</tr>
	<tr>
		<td id="part1"> nr zgłoszenia</td> <td id="part1">STATUS: {{ servicereport.status_notice_display }}</td>
	</tr>

</table>
<table>
	<tr>
		<td id="opis"> Opis: {{ servicereport.description }}</td>
	</tr>
</table>

</div>

</div>
{% endblock %}

    </body>
 </html>