{% extends "baza.html" %}
{% load static %}



{% block content %}

<p align="center">RAPORT PRACY SERWISU</p>

<p align="center">Data: {{ servicereport.date_notice }}  Zmiana: {{ servicereport.which_shift.all|join:", " }}</p>
<div class="report_details">

<table border="2px" cellpadding="10" cellspacing="0" align="center">
	<tr>
	<td> 	RZM / {{ servicereport.number_id }} / {{ servicereport.which_stuff.all|join:", "  }} / {{ servicereport.date_notice }}</td>

		<td> status</td>
	</tr>
	<tr>
		<td> nr zgłoszenia</td>
		<td> kto</td>


	</tr>

</table>

</div>
  <p><strong>Author:</strong>{{ servicereport.who_notice.all|join:", "  }} </p> <!-- author detail link not yet defined -->
  <p><strong>Date:</strong> {{ servicereport.date_notice }}</p>
  <p><strong>Description:</strong> {{ servicereport.description }}</p>

{% endblock %}

    </body>
 </html>