 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
	<head>
		<meta http-equiv="content-type" content="text/html"; charset="utf-8"/>
		<meta http-equiv="content-language" content="pl" />

		<meta name="author" content="Robert Juchniewicz"/>
		<meta name="robots" content="index, follow"/>
			<title>Maria Awaria Service - Ty psujesz my naprawiamy</title>
		<meta name ="description" content="Maria Awaria Service - Ty psujesz My naprawiamy">
		<meta name="keywords" content="serwis, maszyn, pojazdów, urządzeń, Maria, Awaria, Service">
		<link rel="stylesheet" type="text/css" href="arkusz.css">
		
	</head>
	<body>			
			<div class="blocked_float">
				
				<div class="menu_right">
					<a href="http://127.0.0.1:8000/">Start</a>
				</br>
					<a href="raporty">Raporty</a>
					<ul><a href="nowyraport">Stwórz raport</a></ul>
				</br>
					<a href="protokoly">Protokoły</a>
				</br>
					<a href="faktury">Faktury</a>
				</div>
				

			</div>
	</body>
	</html>